CheckRootOrJailbreak/CheckRootOrJailbreak.Android/obj/
CheckRootOrJailbreak/CheckRootOrJailbreak.Android/bin/
CheckRootOrJailbreak/CheckRootOrJailbreak/bin/
CheckRootOrJailbreak/CheckRootOrJailbreak/obj/
CheckRootOrJailbreak/CheckRootOrJailbreak.iOS/obj/
